ultralytics    # YOLOv8 face detection
opencv-python  # For image processing and saving crops
deepface      # For face embeddings and similarity
numpy         # Math and vector operations
torch          # Required backend for YOLOv8 & DeepFace (PyTorch)
tensorflow     # DeepFace backend option (some models use it)
pandas          
PyMuPDF